@import '../../styles/common';

.block {
  $self: &;
  display: flex;
  height: 100vh;
  width: 100vw;
  color: white;
  max-width: 100%;
  overflow-x: hidden;

  @media #{$mobile} {
    flex-direction: column;
    height: auto;
  }

  &__title {
    margin: 0 0 2rem 0;
  }

  &__left {
    width: 41.66667%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media #{$mobile} {
      width: 100vw;
      height: 100vh;
      margin: auto;
    }

    #{$self}__title {
      display: none;
      @media #{$mobile} {
        display: block;
      }
    }
    
    #{$self}--purple & {
      background: $color-purple-light;
    }
    #{$self}--red &{
      background: $color-red-light;
    }
    #{$self}--green & {
      background-color: $color-green-light;
    }
  }

  &__image {
    height: 100%;
    width: 100%;
    max-height: 80%;
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
    width: 58.33333%;
    text-align: left;
    padding: 7.5rem;
    min-height: 100vh;

    @media #{$mobile} {
      padding: 2rem;
      width: 100%;
    }

    #{$self}--purple & {
      background: $color-purple;
    }
    #{$self}--red & {
      background: $color-red;
    }
    #{$self}--green & {
      background-color: $color-green;
    }

    > div {
      margin-top: 1rem;
    }
    
    #{$self}__title {
      @media #{$mobile} {
        display: none;
      }
    }

    h1 {
      font-size: 2.5rem;
      font-weight: normal;
      margin-bottom: 1rem;
    }

    h2 {
      font-weight: 600;
      margin: 1em 0;
    }

    p {
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1.6;
      margin: 0;

      @media #{$mobile} {
        font-weight: 200;
        font-size: 0.9em;
      }
    }
  }

  &#work, &#education {
    height: auto;
  
    .block__image {
      width: 60%;
      @media #{$mobile} {
        height: 15rem;
      }
    }
  }
}