$mobile: 'only screen and (max-width: 600px)';

$color-purple: #606880;
$color-purple-light: #d4e6ed;
$color-red: #db4646;
$color-red-light: #c97e7e;
$color-green: #50a469;
$color-green-light: #96c87e;