@import '../../../styles/common';

.block-footer {
  $self: &;
  text-align: center;

  &__items {
    display: flex;
    align-items: center;
    justify-content: center;
    @media #{$mobile} {
      flex-direction: column;
    }
  }
  
  &__item {
    padding: 0 1rem;
    line-height: 1.6;
    &:not(:last-child) {
      border-right: 0.0125rem solid white;
    }
    @media #{$mobile} {
      padding: 1rem 0;
      width: 15rem;
      &:not(:last-child) {
        border-right: 0;
        border-bottom: 0.0125rem solid white;
      }
      &:first-child {
        padding-top: 0;
      }
    }
  }
}