.block {
  display: flex;
  height: 100vh;
  width: 100vw;
  color: white;
  max-width: 100%;
  overflow-x: hidden;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    height: auto;
  }

  &__left {
    width: 41.66667%;
    display: flex;
    align-items: center;
    justify-content: center;

    &--title {
      display: none;

      @media only screen and (max-width: 600px) {
        display: block;
        margin: 2em 0;
      }
    }
    
    &--blue {
      background: #d4e6ed;
    }
    &--red {
      background: #c97e7e;
    }
    &--green {
      background-color: #96c87e;
    }
    
    &__image {
      height: 100%;
      width: 100%;
      max-height: 80%;
      background-position: 50% 50%;
      background-size: contain;
      background-repeat: no-repeat;

      // @media only screen and (max-width: 600px) {
      //   max-width: 13em;
      // }
    }

    @media only screen and (max-width: 600px) {
      width: 100vw;
      margin: auto;
      display: block;
    }
  }

  &__right {
    width: 58.33333%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    &--blue {
      background: #606880;
    }
    &--red {
      background: #db4646;
    }
    &--green {
      background-color: #50a469;
    }

    &--title {

      @media only screen and (max-width: 600px) {
        display: none;
      }
    }

    & p {
      font-size: 1em;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1.6;

      @media only screen and (max-width: 600px) {
        font-weight: 200;
        font-size: 0.9em;
      }
    }

    & h1 {
      font-size: 2.5rem;
      font-weight: 600;
    }

    & h2 {
      font-size: 1.7em;
      font-weight: 600;
    }

    &--info1 {
      margin: 0 4em;
    
      @media only screen and (max-width: 600px) {
        margin: 1.3em;
      }
    }

    &--info2 {
      text-align: center;
    }

    &--education {
      display: flex;

      h3 {
        // margin: auto;
        flex: 0 0 9rem;
        font-size: 1em;
        font-weight: 500;
        @media only screen and (max-width: 600px) {
        }
      }
      
      h4 {
        font-size: 1em;
        font-weight: 300;

        @media only screen and (max-width: 600px) {
          margin-left: 0 !important;
        }
      }
    }

    @media only screen and (max-width: 600px) {
      width: 100%;
      margin: 0;
    }
  }
}

.btn {
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 50px;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  padding: 25px 80px;

  @media only screen and (max-width: 600px) {
    padding: 25px 65px;    
  }

  &__1 {
    border: 3px solid #fff;
    color: #fff;
    background: #464e67;
    font-size: 1.2em;
  }
}

.experience {
  display: flex;
  margin: 0;
  margin-top: 3em;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__period {
    width: 35em;
    max-width: 8em;
    font-size: 1.3em;
    font-weight: 300;
    margin: 0 4em 0 0;

    @media only screen and (max-width: 600px) {
      font-size: 1em;
    }
  }
  &__company {
    font-size: 1.5em;
    font-weight: 500;
    margin: 0 0 0 0;

    @media only screen and (max-width: 600px) {
      font-size: 1.3em;
      margin-top: 0.2em;
    }
  }
  &__title {
    margin: 0.4em 0;   
    font-size: 1.2em;
    font-weight: 500;

    @media only screen and (max-width: 600px) {
      font-weight: 400;
    }
  }
  &__description {
    margin: 0;
    font-weight: 300;
    font-size: 1em;

    @media only screen and (max-width: 600px) {
      font-weight: 200;
      font-size: 0.9em;
    }
  }
}

.about {
  display: flex;
  justify-content: center;
  font-size: 1.2em;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  & h5 {
    font-weight: 300;

    @media only screen and (max-width: 600px) {
      border: none !important;
      margin: 0.5em !important;
    }
  }
}

#green {
  height: auto;
  min-height: 100vh;

  & .block__left__image {
    width: 70%;
  }
}

#red {
  & .block__left__image {
    width: 70%;
  }
}